</head>
<body>
  <nav>
    <i class="fas fa-solid fa-plane-departure fa-2x"></i>
    <button class="btn">
    <a 
     href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>
    >
      ADD FLIGHT
    </a></button>

    <button class="btn">
    <a 
     href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>
    >
      ALL FLIGHTS
    </a></button>

    <button class="btn">
    <a href="/meals/new" <%- title === 'Add Meal' ? 'class="active"' : '' %>
		>
			ADD MEAL
		</a></button>

  </nav>